/demo/CTPapiMd/Debug
/demo/CTPapiMd/Release
/demo/CTPapiTrader/Debug
/demo/CTPapiTrader/Release
/demo/CTPapiTrader/Bin
*.ncb
*.suo
*.con
*.user
*.pdb
*.ilk
*.vcproj
*.pyc
/demo/ctp_wrapper_exe/Debug
/demo/ctp_wrapper_exe/Release
/demo/ctp_wrapper/Debug
/demo/ctp_wrapper/Release
/demo/build/Debug
/demo/build/Release
/demo/CTPapiMd/Bin
/demo/CTPapiMd
/demo/CTPapiTrader
/demo/build
.tags
.tags_sorted_by_file
/python/.idea